In [3]:
import _pickle as pkl
import csv
import sys
import pandas as pd
import pandas
import os

def list_dir(path):
    source_path_dict = {}
    dirs = os.listdir(path)
    for files in dirs:
        try:
            sub_dirs = os.listdir(path + "/" + files)
            for file_name in sub_dirs:
                if (file_name.endswith('parquet') or file_name.endswith('csv')):
                    source_path_dict[files] = os.path.join(
                        path, files, file_name)
        except:
            source_path_dict[files] = os.path.join(path, files)
    return source_path_dict

def load_df(filename):
    if "pkl" in filename:
        return pandas.read_pickle(filename)
    else:
        return pandas.read_csv(filename, sep='\t', header=None)

#### Expect: 
* item-info length:  2370585
* reviews-info length:  22507155
* total train and test length:  5963668

In [4]:
local_prefix = "/mnt/nvme2/chendi/BlueWhale/x-deeplearning/xdl-algorithm-solution/DIEN/data/python_output"
source_path_dict = list_dir(local_prefix + '/')
#print(source_path_dict)
reviews_info = load_df(source_path_dict["reviews-info"])
item_info = load_df(source_path_dict["item-info"])
#

cat_voc = load_df(source_path_dict["cat_voc.pkl"])
mid_voc = load_df(source_path_dict["mid_voc.pkl"])
uid_voc = load_df(source_path_dict["uid_voc.pkl"])
train = load_df(source_path_dict["local_train_splitByUser"])
test = load_df(source_path_dict["local_test_splitByUser"])

In [8]:
train

,0,1,2,3,4,5
0,0,AZPJ9LUT0FEPY,0140012486,Books,030774443400622483910470530707080631788409...,BooksBooksBooksBooksBooksBooks
1,1,AZPJ9LUT0FEPY,0800731603,Books,030774443400622483910470530707080631788409...,BooksBooksBooksBooksBooksBooks
2,0,A20BDAO1GLR0FL,0141802766,Books,14421876971781845832B005J5V172B00E7TQCLQ,BooksBooksEroticaLiterature & Fiction
3,1,A20BDAO1GLR0FL,1484076249,Books,14421876971781845832B005J5V172B00E7TQCLQ,BooksBooksEroticaLiterature & Fiction
4,0,AQW946YBCT5ND,0615692931,Books,1401935532,Books
...,...,...,...,...,...,...
5367601,1,A30D0K6WBIWRGM,0756408156,Books,B002NLKWZM,Dictionaries
5367602,0,A14KNEC1F6QRF3,1439159874,Books,03933243890375411690,BooksBooks
5367603,1,A14KNEC1F6QRF3,0316012823,Books,03933243890375411690,BooksBooks
5367604,0,A15ALBV96BA4Y9,0803216270,Books,B008LYMHL2,Literature & Fiction
5367605,1,A15ALBV96BA4Y9,1611099315,Books,B008LYMHL2,Literature & Fiction

In [10]:
local_prefix = "/mnt/nvme2/chendi/BlueWhale/dien/"

source_path_dict = list_dir(local_prefix + '/data')
cat_voc = load_df(source_path_dict["cat_voc.pkl"])
mid_voc = load_df(source_path_dict["mid_voc.pkl"])
uid_voc = load_df(source_path_dict["uid_voc.pkl"])
train = load_df(source_path_dict["local_train_splitByUser"])
test = load_df(source_path_dict["local_test_splitByUser"])

source_path_dict = list_dir(local_prefix + '/data1')
reviews_info = load_df(source_path_dict["reviews-info"])

source_path_dict = list_dir(local_prefix + '/data2')
reviews_info = load_df(source_path_dict["item-info"])

In [11]:
train

,0,1,2,3,4,5
0,0,AZPJ9LUT0FEPY,B00AMNNTIA,Literature & Fiction,030774443400622483910470530707097892462215...,BooksBooksBooksBooksBooks
1,1,AZPJ9LUT0FEPY,0800731603,Books,030774443400622483910470530707097892462215...,BooksBooksBooksBooksBooks
2,0,A2NRV79GKAU726,B003NNV10O,Russian,0814472869007146207415839423000812538366B0...,BooksBooksBooksBooksBakingBooksBooks
3,1,A2NRV79GKAU726,B000UWJ91O,Books,0814472869007146207415839423000812538366B0...,BooksBooksBooksBooksBakingBooksBooks
4,0,A2GEQVDX2LL4V3,0321334094,Books,0743596870037428099114391406340976475731,BooksBooksBooksBooks
...,...,...,...,...,...,...
1086115,1,A1SNH0YF3V3JWI,0553099604,Books,031601450803160187080446577391044619550207...,BooksBooksBooksBooksBooks
1086116,0,A2R8TJO2JKS5WZ,B004WGUYCW,Literature & Fiction,158642103403123683130312369123097467016209...,BooksBooksBooksBooksBooks
1086117,1,A2R8TJO2JKS5WZ,0671869507,Books,158642103403123683130312369123097467016209...,BooksBooksBooksBooksBooks
1086118,0,A390T9GCYNC30S,1606840991,Books,14751473411562801848156280247X193521643019...,BooksBooksBooksBooksBooksLesbianLesbian...
1086119,1,A390T9GCYNC30S,099225485X,Books,14751473411562801848156280247X193521643019...,BooksBooksBooksBooksBooksLesbianLesbian...