Copyright (c) 2020, NVIDIA CORPORATION.

Modifications copyright Intel. 

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

### build sample submission files

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline  

import pandas as pd
import numpy as np
import gc

In [2]:
from datetime import datetime 
time_begin = datetime.now()

In [3]:
DTYPES = {
    '8': 'int32',
    '10': 'int32',
    '11': 'int32',
    '13': 'int32',
    '15': 'int32',
    '16': 'int32',
    '18': 'int32',
    '20': 'float32',
    '21': 'float32',
    '22': 'float32',
    '23': 'float32',
}

In [4]:
%%time
dv = pd.read_csv('/mnt/DP_disk3/Recsys/val.tsv', sep='\x01', header=None, dtype=DTYPES )
gc.collect()
dv.shape

CPU times: user 1min, sys: 8.5 s, total: 1min 8s
Wall time: 56.2 s

(9943301, 24)

In [5]:
%%time
features = [
    'text_tokens',    ###############
    'hashtags',       #Tweet Features
    'tweet_id',       #
    'media',          #
    'links',          #
    'domains',        #
    'tweet_type',     #
    'language',       #
    'timestamp',      ###############
    'a_user_id',              ###########################
    'a_follower_count',       #Engaged With User Features
    'a_following_count',      #
    'a_is_verified',          #
    'a_account_creation',     ###########################
    'b_user_id',              #######################
    'b_follower_count',       #Engaging User Features
    'b_following_count',      #
    'b_is_verified',          #
    'b_account_creation',     #######################
    'b_follows_a',    #################### Engagement Features
    'reply',          #Target Reply
    'retweet',        #Target Retweet    
    'retweet_comment',#Target Retweet with comment
    'like',           #Target Like
                      ####################
]
dv.columns = features
gc.collect()
dv.head()

CPU times: user 19.3 ms, sys: 0 ns, total: 19.3 ms
Wall time: 19.1 ms

,text_tokens,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,...,b_user_id,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like
0,101\t10117\t140\t119\t142\t119\t152\t119\t1010...,NaN,373C0F43762B7CEC1D75728BE8A33891,NaN,A2CE3A1941BA410A1C31496C355EFCD7,E14AF8A8D257BB47587843FE7D08382B,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1582126349,2A8B6AD2B9D55F535C2441AB673133D2,...,00000865A1538142CDA5936B07FE4311,65,166,False,1452599043,False,NaN,NaN,NaN,NaN
1,101\t10105\t10817\t10124\t59232\t18121\t15629\...,NaN,773A92D9E4824D06105C02BD044BB20A,NaN,NaN,NaN,Quote,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581971193,950A95B81407F33C412E520BE55A1450,...,000009A057792FF118B9E3F2578B8407,1814,1314,False,1322868747,True,1.581979e+09,NaN,NaN,NaN
2,101\t48561\t10116\t67737\t18554\t36371\t10989\...,NaN,218A6C27871801759F7380D7C41694A6,NaN,5C683B5A29B308CADD0D7EFA7C9C32D3,6717B03E03DEE1D7ACAE37649ACA7BD6,TopLevel,9BF3403E0EB7EA8A256DA9019C0B0716,1582047119,ABB2F7F22C34057BC7B30D627B0C137A,...,00000DEF82BE9EB5CFD07FB7DB94317B,4,73,False,1573996260,False,NaN,NaN,NaN,NaN
3,101\t100055\t69940\t10414\t159\t11305\t11166\t...,NaN,AB817EBA68064A0C8CBF4A6C059D92DC,Photo,E925556EE312213AD98C4D9F131D7A8D,D722330FEBEAAE68B4F4339CE8BD7C70,TopLevel,691890251F2B9FF922BE6D3699ABEFD2,1581554925,03F96C3B7CE2179B6347AA395880C963,...,0000109A57AFA64758EE4AAE2A01BFC7,15,124,False,1385502405,True,NaN,NaN,NaN,NaN
4,101\t62154\t32221\t71843\t10143\t10237\t15507\...,NaN,349120C1E2801857530393F16D4653A5,NaN,NaN,NaN,TopLevel,9BF3403E0EB7EA8A256DA9019C0B0716,1581568955,E035DCB47CB3DF98C5CD7CFEEC3BC704,...,000012366528B5FEE179A9606DBC9826,1226,655,False,1268639592,True,1.581570e+09,NaN,NaN,NaN

In [6]:
%%time
dv = dv[['tweet_id','b_user_id']].copy()
dv['prediction'] = 0
dv.to_csv( '/mnt/DP_disk3/Recsys/sample_submission_public.csv', index=False )
dv.head()

CPU times: user 16.4 s, sys: 1.02 s, total: 17.4 s
Wall time: 17.8 s

,tweet_id,b_user_id,prediction
0,373C0F43762B7CEC1D75728BE8A33891,00000865A1538142CDA5936B07FE4311,0
1,773A92D9E4824D06105C02BD044BB20A,000009A057792FF118B9E3F2578B8407,0
2,218A6C27871801759F7380D7C41694A6,00000DEF82BE9EB5CFD07FB7DB94317B,0
3,AB817EBA68064A0C8CBF4A6C059D92DC,0000109A57AFA64758EE4AAE2A01BFC7,0
4,349120C1E2801857530393F16D4653A5,000012366528B5FEE179A9606DBC9826,0

In [7]:
%%time
dv = pd.read_csv('/mnt/DP_disk3/Recsys/test.tsv', sep='\x01', header=None, dtype=DTYPES )
dv.columns = features
gc.collect()
print( dv.shape )
dv.head()

(9941988, 24)
CPU times: user 1min, sys: 10.3 s, total: 1min 10s
Wall time: 56.9 s

,text_tokens,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,...,b_user_id,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like
0,101\t3100\t5477\t3028\t4348\t1924\t111806\t186...,NaN,04746004AA1F5498834CE7A4C6343D1A,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581759640,6720CC7830F94CB7465CA283300DB010,...,00000776B07587ECA9717BFC301F2D6E,111,673,False,1478011810,True,NaN,NaN,NaN,1.581775e+09
1,101\t56898\t137\t36110\t10400\t168\t64062\t131...,024FE90EC2C01B3CDC46A5A90D66B020\t1B78BDD9C7FF...,B5C4CBE185831F3E5A58A4D81118D4C7,NaN,NaN,NaN,Retweet,22C448FF81263D4BAF2A176145EE9EAD,1581668217,7DDC67265CFB6E0B4820E0BD0E33A8D3,...,00000776B07587ECA9717BFC301F2D6E,111,673,False,1478011810,True,NaN,NaN,NaN,1.581684e+09
2,101\t10117\t23672\t12610\t86532\t11205\t90138\...,NaN,8747BA89E3245FE4097C9E4E0AE40862,Video,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581876000,1C0B9850DE2A34BA8B8DF413F5C13233,...,0000109A57AFA64758EE4AAE2A01BFC7,15,123,False,1385502405,False,NaN,NaN,NaN,NaN
3,101\t13690\t14372\t119\t119\t19281\t25444\t984...,NaN,1CD2139E249349CBD5A0576D163C5EF8,Photo,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581646803,94FBB99CE36D7A152DABA57CEF62F75E,...,000013315386492275CCBF7AEF293EF0,141,955,False,1335110299,False,NaN,NaN,NaN,NaN
4,101\t56898\t137\t171\t64791\t168\t11499\t10330...,9533703A3BB1CBA49AC0547C4A9F8043\t4C57C1D9063D...,BDFA89609AC3EDDE250DCECD964B5890,Photo,NaN,NaN,Retweet,22C448FF81263D4BAF2A176145EE9EAD,1581623428,311BB1E051070C2639BC632ECDE69C43,...,000013315386492275CCBF7AEF293EF0,139,953,False,1335110299,False,NaN,NaN,NaN,NaN

In [8]:
%%time
dv = dv[['tweet_id','b_user_id']].copy()
dv['prediction'] = 0
dv.to_csv( '/mnt/DP_disk3/Recsys/sample_submission_private.csv', index=False )
dv.head()

CPU times: user 16.2 s, sys: 1.01 s, total: 17.2 s
Wall time: 17.5 s

,tweet_id,b_user_id,prediction
0,04746004AA1F5498834CE7A4C6343D1A,00000776B07587ECA9717BFC301F2D6E,0
1,B5C4CBE185831F3E5A58A4D81118D4C7,00000776B07587ECA9717BFC301F2D6E,0
2,8747BA89E3245FE4097C9E4E0AE40862,0000109A57AFA64758EE4AAE2A01BFC7,0
3,1CD2139E249349CBD5A0576D163C5EF8,000013315386492275CCBF7AEF293EF0,0
4,BDFA89609AC3EDDE250DCECD964B5890,000013315386492275CCBF7AEF293EF0,0

In [9]:
%%time
time_end = datetime.now()

print("6th notebook total process time", time_end - time_begin)

6th notebook total process time 0:02:28.409916
CPU times: user 264 Âµs, sys: 36 Âµs, total: 300 Âµs
Wall time: 222 Âµs